@model  Monitoring_First_Version.Models.ModelViewAddTeamToMember

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/wwwroot/Style/Style.css">
    <title>Tracker</title>
</head>

<body>
    <div class="nav" style="background-color: #09f;">
        <h1>Tracker</h1>
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home", null, null)</li>
            <li>@Html.ActionLink("Community", "Index", "Home", null, null)</li>
            <li>@Html.ActionLink("LogIn", "LogIn", "Home", null, null)</li>
            <li>@Html.ActionLink("SignUp", "SignUp", "Home", null, null)</li>
        </ul>
        <img onclick="ShowMenuChoose()" class="MenuIcon" src="https://img.icons8.com/material-outlined/24/ffffff/menu--v1.png" />
        <div class="ChooseMenu">
            <ul class="ULChoose">
                <li style="margin-top: -27px !important;">
                    @Html.ActionLink("Home", "Index", "Home", null, null)
                </li>
                <li>
                    @Html.ActionLink("Community", "Index", "Home", null, null)
                </li>
                <li>
                    @Html.ActionLink("LogIn", "LogIn", "Home", null, null)
                </li>
                <li>
                    @Html.ActionLink("SignUp", "SignUp", "Home", null, null)
                </li>
            </ul>
        </div>
    </div>
    <svg onclick="HideMeniChoose(); hideResults();" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#0099ff" fill-opacity="1" d="M0,224L120,192C240,160,480,96,720,106.7C960,117,1200,203,1320,245.3L1440,288L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path>
    </svg>
    <div onclick="HideMeniChoose();hideResults()" class="ProfileBody1">
        <img src="~/wwwroot/Images/Person.png">
        <p>@Model.OurMmeber.memberName</p>
    </div>
    <div class="JoinedTeam" onclick="hideResults()">
        <p>AddTeam</p>
        <div class="Teams">
            <div onclick="CheckSelection(this)">
                <img src="~/wwwroot/Images/Programmers.jpg">
                <p>Programmers</p>
            </div>
            <div onclick="CheckSelection(this)">
                <img src="~/wwwroot/Images/IOT.jpg">
                <p>IOT</p>
            </div>
            <div onclick="CheckSelection(this)">
                <img src="~/wwwroot/Images/EmbeddedSystems.jpg">
                <p>EmbeddedSystems</p>
            </div>
            <div onclick="CheckSelection(this)">
                <img src="~/wwwroot/Images/MachineLearning.png">
                <p>MachineLearning</p>
            </div>
        </div>
        <button onclick="AddTeam(@(Model.OurMmeber.id))">AddTeam</button>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#0099ff" fill-opacity="1" d="M0,128L60,154.7C120,181,240,235,360,229.3C480,224,600,160,720,133.3C840,107,960,117,1080,138.7C1200,160,1320,192,1380,208L1440,224L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
    </svg>
    <div class="ResultMessage Done" style="background-color: rgb(104, 255, 58);">
        <p>Done :)</p>
    </div>
    <div class="ResultMessage Failed" style="background-color: rgb(255, 58, 58);">
        <p>Failed :(</p>
    </div>

    <script src="~/wwwroot/Script/Script1.js"></script>
    <script src="~/wwwroot/Script/Script2.js"></script>
</body>

</html>